[Desktop Entry]
Type=Application
Name=Wireless Toolbox
Comment=Open a shell with installed Wireless tools listed
Exec=/usr/local/bin/vibrali-toolbox wireless
Icon=utilities-terminal
Terminal=true
Categories=VibraliWireless;
