[Desktop Entry]
Type=Application
Name=Reverse Engineering Toolbox
Comment=Open a shell with installed Reverse Engineering tools listed
Exec=/usr/local/bin/vibrali-toolbox reverse
Icon=utilities-terminal
Terminal=true
Categories=VibraliReverse;
